
div{
    background-color: rgb(240, 234, 234);
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    text-align: center;
color: rgba(67, 77, 80, 0.733);
}
.searchText{

    background-color: rgb(220, 230, 230);
    color: rgb(143, 110, 110);
   
}
.btn{
    color: black;
    background-color: rgb(230, 221, 174);
}















